* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.photo_gallery {
  text-align: center;
  padding: 32px;
}

.categories{
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 12px;
}
.categories:hover{
	background-color: #E6E6FA;
}
.categories:active{
	color: blue;
	border-color: blue;
}

/**/
.img-prop{
	border-radius: 12px;
	margin: 10px;
	vertical-align: middle;
	display: flex;
	flex-wrap: wrap;
	flex: 25%;
  	max-width: 25%;
  	padding: 0 4px;
}
/**/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;

}

.column img {
  margin: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a 3 column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 33.33%;
    max-width: 33.33%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}



